rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow everything for local emulator testing
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
